<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812310693974-lj68pin86bqh58omt3ditqb3e58n8s6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812310693974-lj68pin86bqh58omt3ditqb3e58n8s6s</string>
	<key>API_KEY</key>
	<string>AIzaSyD7SU-OdW0pLRE6awkJALDl_rpXjAfjt2g</string>
	<key>GCM_SENDER_ID</key>
	<string>812310693974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omar.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-b8f37</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-b8f37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812310693974:ios:a56d60a96e2c2894</string>
	<key>DATABASE_URL</key>
	<string>https://movies-b8f37.firebaseio.com</string>
</dict>
</plist>